

  <div class="one mt-5">
<div class="card mt=5 " style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBCJnuV0pL1_SpCY3aqGEkVbq6N6W7kHPh7EC5zXv3JeuZZ_Uzgymu8O6m6z5GVsTUfO4&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card mt=5" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBCJnuV0pL1_SpCY3aqGEkVbq6N6W7kHPh7EC5zXv3JeuZZ_Uzgymu8O6m6z5GVsTUfO4&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card mt=5" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBCJnuV0pL1_SpCY3aqGEkVbq6N6W7kHPh7EC5zXv3JeuZZ_Uzgymu8O6m6z5GVsTUfO4&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card mt=5" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBCJnuV0pL1_SpCY3aqGEkVbq6N6W7kHPh7EC5zXv3JeuZZ_Uzgymu8O6m6z5GVsTUfO4&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
  <div class="two mt-5">
  <div class="card mt=5" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBCJnuV0pL1_SpCY3aqGEkVbq6N6W7kHPh7EC5zXv3JeuZZ_Uzgymu8O6m6z5GVsTUfO4&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card mt=5" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBCJnuV0pL1_SpCY3aqGEkVbq6N6W7kHPh7EC5zXv3JeuZZ_Uzgymu8O6m6z5GVsTUfO4&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card mt=5" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBCJnuV0pL1_SpCY3aqGEkVbq6N6W7kHPh7EC5zXv3JeuZZ_Uzgymu8O6m6z5GVsTUfO4&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card mt=5" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBCJnuV0pL1_SpCY3aqGEkVbq6N6W7kHPh7EC5zXv3JeuZZ_Uzgymu8O6m6z5GVsTUfO4&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>


