<p>contact works!</p>
<h1> 46568099492</h1>
<p>The hero's birthday : {{birthday | date}}</p>
<p>The hero's birthday : {{birthday | date:'full'}}</p>
<p>The hero's birthday : {{birthday | date:'short'}}</p>
<p>The hero's birthday : {{birthday | date:'MM/dd/yy'}}</p>
<p>The hero's birthday : {{birthday | date:'MM/dd/yyyy'}}</p>
<p>The hero's birthday : {{birthday | date:'medium'}}</p>
<p>The hero's birthday : {{birthday | date:'long'}}</p>
<p>The hero's birthday : {{birthday | date:'shortDate'}}</p>
<p>The hero's birthday : {{birthday | date:'shortTime'}}</p>
<h1>{{name|uppercase}}</h1>
<h2>{{address|lowercase}}</h2>
<p>{{rupees|currency}}</p>
<p>{{marks|percent}}</p>
<h1>{{a|titlecase}}</h1>
<h2>{{c|json}}
<h2>{{fruits|slice:0:2}}</h2>



<pre>
    Currency Pipe
    Date Pipe
    Json Pipe
    LowerCase Pipe
    UpperCase Pipe
    PercentPipe
    SlicePipe
    TitleCasePipe
    AsyncPipe
</pre>
