<!--<h1> class="first">welcome to angular cli</h1>
<h1>this is number:{{a}}</h1>
<h1 class="third">total number is :{{900+400+500}}</h1>
<h1>total number is:{{400+a}}</h1>

<h1>total number is:{{a>=900 ?"shivani":"nancy"}}</h1>
<h1>total number is:{{a>=200?true:false}}</h1>
<h1>total number is:{{a>=1000?"firstlevel":a>=900?"secondlevel":a>=300?"thirdlevel":"fourthlevel"}}</h1>
<h2 class="second">this is use of angular ngClass directive</h2>
<h2 [ngClass]="c? 'third':'second'">this is use of angular ngClass directive</h2>
<div class="container border bg-danger mg-5">
    <div class="row">
        <div class= "col-12">
            <h1> use of bootstrap in Angular Cli</h1>
        </div>
    </div>
</div>
<div class="dropdown mt-5">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  <div class="btn-group btn-group-lg mt-5 " role="group" aria-label="Large button group">
    <button type="button" class="btn btn-outline-primary">Left</button>
    <button type="button" class="btn btn-outline-primary">Middle</button>
    <button type="button" class="btn btn-outline-primary">Right</button>
  </div>
  <br>
  <div class="btn-group" role="group" aria-label="Default button group">
    <button type="button" class="btn btn-outline-primary">Left</button>
    <button type="button" class="btn btn-outline-primary">Middle</button>
    <button type="button" class="btn btn-outline-primary">Right</button>
  </div>
  <br>
  <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
    <button type="button" class="btn btn-outline-primary">Left</button>
    <button type="button" class="btn btn-outline-primary">Middle</button>
    <button type="button" class="btn btn-outline-primary">Right</button>
  </div>
  <h1 class="one">welcome to page</h1>-->
 
  
<router-outlet></router-outlet> 
