<!--<div class="container">
    <div class="row">
        <div class="col">
            <h1> Login Page design</h1>
        </div>
    </div>
</div> -->
<div>
<h1>Registration Form</h1>
<div>
<label for="FN">FirstName:</label>
<input type="text" placeholder="Enter your Firstname" id ="FN" />
<br/>
<label for="LN">LastName:</label>
<input type="text" placeholder="Enter your Lastname" id ="LN" />
<br/>
<label for="Email">Email:</label>
<input type="text" placeholder="Enter your email" id ="Email" />
<br/>
<label for="MN">MobileNo:</label>
<input type="text" placeholder="Enter your MobileNo" id ="MN" />

<button type="submit">Submit</button>
</div>
</div>
